body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.dark{
    color:orange;
}
.murgi{
    color: red;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 700px;
    
}
.half p{
    margin: 25px 0;
}
.half2{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
}
.half2 img{
    width: 700px;
    
}
.half2 p{
    margin: 25px 0;
}


.banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    
    
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5%;
    background-image: linear-gradient( 45deg, lightsalmon, tomato );
    color: white;
    font-weight: 700;   
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
}